<!DOCTYPE html>
<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>All modules</title>
        <link href="images/logo-icon.svg" rel="icon" type="image/svg">
    <!-- 百度统计 -->
    <!--suppress ES6ConvertVarToLetConst -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            const hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?045f67a122223db9432c7856fc942fad";
            const s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JWL2DDTB4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1JWL2DDTB4');
    </script>
    <script>var pathToRoot = "";</script>
    <script>document.documentElement.classList.replace("no-js","js");</script>
    <script>const storage = localStorage.getItem("dokka-dark-mode")
    if (storage == null) {
        const osDarkSchemePreferred = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        if (osDarkSchemePreferred === true) {
            document.getElementsByTagName("html")[0].classList.add("theme-dark")
        }
    } else {
        const savedDarkMode = JSON.parse(storage)
        if(savedDarkMode === true) {
            document.getElementsByTagName("html")[0].classList.add("theme-dark")
        }
    }
    </script>
<script type="text/javascript" src="scripts/sourceset_dependencies.js" async="async"></script>
<link href="styles/style.css" rel="Stylesheet">
<link href="styles/main.css" rel="Stylesheet">
<link href="styles/prism.css" rel="Stylesheet">
<link href="styles/logo-styles.css" rel="Stylesheet">
<link href="styles/font-jb-sans-auto.css" rel="Stylesheet">
<script type="text/javascript" src="scripts/clipboard.js" async="async"></script>
<script type="text/javascript" src="scripts/navigation-loader.js" async="async"></script>
<script type="text/javascript" src="scripts/platform-content-handler.js" async="async"></script>
<script type="text/javascript" src="scripts/main.js" defer="defer"></script>
<script type="text/javascript" src="scripts/prism.js" async="async"></script>
<script type="text/javascript" src="scripts/symbol-parameters-wrapper_deferred.js" defer="defer"></script>
<link href="images/logo-icon.svg">
<link href="images/logo-icon-light.svg">
<link href="styles/kdoc-style.css" rel="Stylesheet">
</head>
<body>
    <div class="root">
<nav class="navigation" id="navigation-wrapper">
    <div class="navigation--inner">
        <div class="navigation-title">
            <button class="menu-toggle" id="menu-toggle" type="button">toggle menu</button>
            <div class="library-name">
                    <a class="library-name--link" href="index.html">
                            Simple Robot 组件 | QQ Guild
                    </a>
            </div>
            <div class="library-version">
4.1.3            </div>
        </div>
    </div>
    <div class="navigation-controls">
            <a class="navigation-controls--btn navigation-controls--homepage" id="homepage-link" href="https://github.com/simple-robot/simbot-component-qq-guild"></a>
        <button class="navigation-controls--btn navigation-controls--theme" id="theme-toggle-button" type="button">switch theme</button>
        <div class="navigation-controls--btn navigation-controls--search" id="searchBar" role="button">search in API</div>
    </div>
</nav>
        <div id="container">
            <div class="sidebar" id="leftColumn">
                <div class="sidebar--inner" id="sideMenu"></div>
            </div>
            <div id="main">
<div class="main-content" id="content" pageIds="Simple Robot 组件 | QQ Guild::.ext/allModules///PointingToDeclaration//0">
  <div class="breadcrumbs"></div>
  <div class="cover ">
    <div class="cover ">
      <h1 class=""> </h1>
<!--suppress HtmlDeprecatedAttribute --><div align="center">
<picture>
  <source media="(prefers-color-scheme: dark)" srcset=".simbot/logo-dark.svg">
  <source media="(prefers-color-scheme: light)" srcset=".simbot/logo.svg">
  <img alt="simbot logo" src=".simbot/logo.svg" width="260" />
</picture>
<h2>
    ~ Simple Robot ~ <br/> <small>QQ频道组件</small>
</h2>
<a href="https://github.com/simple-robot/simbot-component-qq-guild/releases/latest"><img alt="release" src="https://img.shields.io/github/v/release/simple-robot/simbot-component-qq-guild" /></a>
<a href="https://repo1.maven.org/maven2/love/forte/simbot/component/simbot-component-qq-guild-api/" target="_blank">
  <img alt="release" src="https://img.shields.io/maven-central/v/love.forte.simbot.component/simbot-component-qq-guild-api" /></a>
   <hr>
   <img alt="stars" src="https://img.shields.io/github/stars/simple-robot/simbot-component-qq-guild" />
   <img alt="forks" src="https://img.shields.io/github/forks/simple-robot/simbot-component-qq-guild" />
   <img alt="watchers" src="https://img.shields.io/github/watchers/simple-robot/simbot-component-qq-guild" />
   <img alt="repo size" src="https://img.shields.io/github/repo-size/simple-robot/simbot-component-qq-guild" />
   <img alt="lines" src="https://img.shields.io/tokei/lines/github/simple-robot/simbot-component-qq-guild" />
   <img alt="issues" src="https://img.shields.io/github/issues-closed/simple-robot/simbot-component-qq-guild?color=green" />
   <img alt="last commit" src="https://img.shields.io/github/last-commit/simple-robot/simbot-component-qq-guild" />
   <a href="./COPYING"><img alt="copying" src="https://img.shields.io/github/license/simple-robot/simbot-component-qq-guild" /></a></div>      <p class="paragraph">这是一个 <a href="https://kotlinlang.org/docs/multiplatform.html">Kotlin 多平台</a>  的 <a href="https://bot.q.qq.com/wiki/develop/api/"><strong>QQ机器人官方API</strong></a> SDK 实现库， 也是 <a href="https://github.com/simple-robot/simpler-robot/tree/v4-dev">Simple Robot</a> 标准API下实现的组件库， 异步高效、Java友好！</p>
      <p class="paragraph">借助 simbot 核心库提供的能力，它可以支持很多高级功能和封装，比如组件协同、Spring支持等， 助你快速开发机器人应用！</p>
      <blockquote class="quotation">
        <p class="paragraph">序列化和网络请求相关分别基于 <a href="https://github.com/Kotlin/kotlinx.serialization">Kotlin serialization</a> 和 <a href="https://ktor.io/">Ktor</a>.</p>
      </blockquote>
      <h2 class="">文档与引导</h2>
      <ul>
        <li>
          <p class="paragraph">手册: <a href="https://simbot.forte.love">Simple Robot 应用手册</a> 及其中 <a href="https://simbot.forte.love/component-qq-guild.html"><strong>QQ机器人组件</strong></a> 部分</p>
        </li>
        <li>
          <p class="paragraph"><a href="https://docs.simbot.forte.love">文档引导站&API文档</a></p>
        </li>
        <li>
          <p class="paragraph"><a href="https://simbot.forte.love/communities.html"><strong>社群</strong></a> 文档中也有提供社群信息喔</p>
        </li>
        <li>
          <p class="paragraph">前往 <a href="https://github.com/simple-robot/">组织首页</a> 了解更多有关组件、文档、以及社群等相关信息！</p>
        </li>
      </ul>

      <p class="paragraph">我们欢迎并期望着您的 <a href="https://github.com/simple-robot/simbot-component-qq-guild/issues">反馈</a>  或  <a href="https://github.com/simple-robot/simbot-component-qq-guild/pulls">协助</a>， 感谢您的贡献与支持！</p>
      <h2 class="">概述</h2>
      <p class="paragraph">QQ机器人组件是对 <a href="https://github.com/simple-robot/simpler-robot">simbot4核心库</a>  的组件实现， 是一个相对高度封装的模块，并提供simbot大部分能力，包括事件监听、多组件协同、Spring Boot Starter 等。</p>
      <p class="paragraph">👉 simbot-component-qq-guild-core 了解更多~</p>
      <h2 class="">命名说明</h2>
      <p class="paragraph">QQ机器人组件命名为 <code class="lang-kotlin">simbot-component-qq-guild</code> ，  因为最早开始QQ并未开放普通个人开发者使用QQ群聊、QQ单聊的功能， 因此此组件当时仅支持QQ频道。 在开放后，其两端可以合并在一起使用，因此QQ群相关的能力才被支持。</p>
      <blockquote class="quotation">
        <p class="paragraph">也许未来会更名为 <code class="lang-kotlin">simbot-component-qq</code> ?</p>
      </blockquote>
      <h2 class="">法欧莉!</h2>
      <p class="paragraph">如果你想看一看使用QQ频道组件实现的具体作品， 可以前往QQ频道添加亲爱的 <a href="https://qun.qq.com/qunpro/robot/share?robot_appid=101986850">法欧莉斯卡雷特</a> 来体验喔~</p>
      <h2 class="">License</h2>
      <p class="paragraph"><code class="lang-kotlin">simbot-component-qq-guild</code> 使用 <code class="lang-kotlin">LGPLv3</code> 许可证开源。</p>
      <div class="sample-container">
        <pre><code class="block lang-kotlin" theme="idea">This program is free software: you can redistribute it and/or <br>modify it under the terms of the GNU Lesser General <br>Public License as published by the Free Software Foundation, <br>either version 3 of the License, or (at your option) <br>any later version.<br><br>This program is distributed in the hope that it will be useful, <br>but WITHOUT ANY WARRANTY; without even the implied <br>warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. <br>See the GNU Lesser General Public License for more details.<br><br>You should have received a copy of the GNU Lesser General Public <br>License along with this program. <br>If not, see &lt;https://www.gnu.org/licenses/&gt;.</code></pre>
<span class="top-right-position"><span class="copy-icon"></span>
          <div class="copy-popup-wrapper popup-to-left"><span class="copy-popup-icon"></span><span>Content copied to clipboard</span></div>
        </span></div>
    </div>
    <h2 class="">All modules:</h2>
    <div class="table"><a data-name="1805754125%2FMain%2F0" anchor-label="simbot-component-qq-guild-api" id="1805754125%2FMain%2F0" data-filterable-set=""></a>
      <div class="table-row">
        <div class="main-subrow ">
          <div class="w-100"><span class="inline-flex">
              <div><a href="simbot-component-qq-guild-api/index.html">simbot-component-qq-guild-api</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1805754125%2FMain%2F0"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div><span class="brief-comment">
              <p class="paragraph">对<a href="https://bot.q.qq.com/wiki/develop/api/">QQ频道API</a>的最基本封装，不包含额外的功能性实现（比如bot、事件调度等）。</p>
            </span></div>
        </div>
      </div>
<a data-name="1333939324%2FMain%2F0" anchor-label="simbot-component-qq-guild-core" id="1333939324%2FMain%2F0" data-filterable-set=""></a>
      <div class="table-row">
        <div class="main-subrow ">
          <div class="w-100"><span class="inline-flex">
              <div><a href="simbot-component-qq-guild-core/index.html">simbot-component-qq-guild-core</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1333939324%2FMain%2F0"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div><span class="brief-comment"></span></div>
        </div>
      </div>
<a data-name="638855545%2FMain%2F0" anchor-label="simbot-component-qq-guild-stdlib" id="638855545%2FMain%2F0" data-filterable-set=""></a>
      <div class="table-row">
        <div class="main-subrow ">
          <div class="w-100"><span class="inline-flex">
              <div><a href="simbot-component-qq-guild-stdlib/index.html">simbot-component-qq-guild-stdlib</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="638855545%2FMain%2F0"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div><span class="brief-comment">
              <p class="paragraph">基于api模块，对<a href="https://bot.q.qq.com/wiki/develop/api/">QQ频道API</a>的基本功能实现（事件接收与处理）。</p>
            </span></div>
        </div>
      </div>
    </div>
  </div>
</div>
      <div class="footer">
        <span class="go-to-top-icon"><a href="#content" id="go-to-top-link"></a></span><span>© 2022-2025 <a href='https://github.com/simple-robot'>Simple Robot</a>. All rights reserved.</span><span
                class="pull-right"><span>Generated by </span><a
                href="https://github.com/Kotlin/dokka"><span>dokka</span><span class="padded-icon"></span></a></span>
      </div>
            </div>
        </div>
    </div>
</body>
</html>
